html {
  font-size: 16px;
}

body{
  display: flex;
  flex-direction: column;
  font-family: $roboto;
  font-weight: 400;
  color: $black;
}

.container{
	max-width: 1140px + 80px;
	width: 100%;
  padding: 0 40px;
	margin: 0 auto;
  
  @media screen  and (max-width: $third-media) {
    padding: 0 15px;
  }
}

.sect-item {
  font-size: 1rem;
  padding: 3.8em 0;
  
  @media screen  and (max-width: $first-media) {
    font-size: .9rem;
  }
  
  @media screen  and (max-width: $second-media) {
    font-size: .8rem;
  }
  
  @media screen  and (max-width: $third-media) {
    font-size: .7rem;
  }
}

.full-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sect-title-wrap {
  margin-bottom: 3.75em;
}
















