//fonts
$opensans: 'Open sans', arial, sans-serif;
$roboto: 'Roboto', arial, sans-serif;

//color
$black: #1a1a1a;
$white: #fff;
$darkbrand: #0d65a2;
$brand-color: #21a7f1;
$lightgrey: #d8d8d8;
$dkgrey: #4b4b4b;

//media
$first-media:  1170px;
$second-media: 1030px;
$third-media:  777px;
$fourth-media: 590px;

//transition
$anim: .3s;

//bg
$bg-color: #f7f7f7;